<!-- /snippets/ajax-cart-template.liquid -->
{% comment %} This snippet provides the default handlebars.js templates for the
ajax cart plugin. Use the raw liquid tags to keep the handlebar.js template tags
as available hooks. {% endcomment %}
 
<script id="CartTemplate" type="text/template">
  {% raw %}
    
  {% endraw %}
</script>
<script id="AjaxQtyt" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
      </button>
    </div>
  {% endraw %}
</script>
<script id="JsQtyt" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
      </button>
    </div>
  {% endraw %}
</script>

<script>
  // function timeChange(){

  // var  t = $('#pickup-time').val()
  // if(t){
  //   var timeSplit = t.split(':'),
  //   hours,
  //   minutes,
  //   meridian;
  // hours = timeSplit[0];
  // minutes = timeSplit[1];
  // if (hours > 12) {
  //   meridian = 'PM';
  //   hours -= 12;
  // } else if (hours < 12) {
  //   meridian = 'AM';
  //   if (hours == 0) {
  //     hours = 12;
  //   }
  // } else {
  //   meridian = 'PM';
  // }

  // $('#pickup-time-hidden').val(hours + ':' + minutes + ' ' + meridian)
  // }
  // }  
  function pickTime(d){
var value= d.value;
  CartJS.setAttributes({
    "Pickup Time": value
  });

}</script>