 

 <li
 class="decmeber-mega-collections flex flex-wrap new-mega-collections {{custom_class}}"
 data-pf-type="List.Item" 
 class="sc-eKZiaR dglaPV pf-bb3555cd" 
 onclick="MenuEvent('MEGAMENU','','{{title | strip_html}}','{{url}}')"
> 
 <a style="margin-top: 0px" href="{{ url }}" 
   ><img class="lazyload" src="{{image}}"  handle="{{handle }}" alt="{{ handle }}"
   style="width:100%;margin: 0 auto; margin-right: 0px; " />
 </a>
 <a
   href="{{ url }}"
   data-handle="{{ handle }}"
   data-pf-type="Text"
   class="sc-eIHaNI ditGEd pf-36ed7ea4"
 > 
   {{ title }}</a
 >
</li>