<link rel="stylesheet" media="print" onload="this.media='all'" href="{{ 'pagefly.d341862b.css' | asset_url }}">  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script><div style="opacity:0" class="sc-dcgxYM htkieq __pf" id="__pf"><div data-pf-type="Body" class="sc-cTApHj fVRyQa pf-1_"><div data-pf-type="Layout" class="sc-caiKgP ipNIuR pf-2_"><div data-pf-type="Section" class="sc-hUpaWb blbXGf pf-3_"><div style="--cw:1170px" class="sc-khQdMy cdJLiE"><div class="sc-bBHHQT iVWrCP pf-4_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-5_"><h3 data-pf-type="Heading" class="sc-iJKOzS YwOzI pf-6_"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-8_">Hi! I’m Kelsey.

</span></h3><p class="sc-jeqYYF hzMUYW pf-9_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-11_">I am a fashion, beauty and lifestyle blogger who also owns her own boutique! I post a lot of content with my husband. We are a bumble success story! We just bought our first home! My platform is a safe space for women to come and get real genuine advice and reviews on products!</span></p></div></div></div><div class="sc-bBHHQT iVWrCP pf-12_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-13_"><h3 data-pf-type="Heading" class="sc-iJKOzS YwOzI pf-14_"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-16_"><span style="font-weight: bold;">Shop my favorite MoxieLash products below, plus get 10% off and FREE shipping when you spend $100 or more. Terms &amp; Conditions apply (see below).

</span></span></h3></div></div></div><div class="sc-bBHHQT iVWrCP pf-17_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-18_"><div data-pf-type="Vimeo" class="sc-hmjpBu etvlvq pf-19_"><div style="position:relative;padding-bottom:75%"><iframe class="pf-ifr" src="https://player.vimeo.com/video/496112224?api=1&autoplay=0&loop=0&muted=0&portrait=0&byline=0&title=0" frameBorder="0" width="100%" height="100%" allowfullscreen="" data-muted="false" title="vimeo-video" allow="autoplay"></iframe></div></div></div></div></div><div class="sc-bBHHQT iVWrCP pf-20_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-href="/collections/shop-all" data-target="_self" data-pf-type="Column" class="sc-jObXwK cBBNUN pf-21_"><a href="/collections/shop-all" target="_self" data-pf-type="Button" class="sc-hGPAah hWefDp pf-22_"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-24_">Shop with me</span></a></div></div></div></div></div><div data-pf-type="Section" class="sc-hUpaWb blbXGf pf-25_"><div style="--cw:1170px" class="sc-khQdMy cdJLiE"><div class="sc-bBHHQT iVWrCP pf-26_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-27_"><h3 data-pf-type="Heading" class="sc-iJKOzS YwOzI pf-28_"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-30_">My Top Picks 
</span></h3></div></div></div></div></div><div data-pf-type="Section" class="sc-hUpaWb blbXGf pf-31_"><div style="--cw:1170px" class="sc-khQdMy cdJLiE"><div class="sc-bBHHQT iVWrCP pf-32_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-33_"><div class="sc-kiIAaw hQwVTn pf-34_ pf-r pf-r-ew" style="--s-xs:7.5px;--s-lg:15px;--ew-xs:2;--ew-sm:4" data-pf-type="ProductList">{% assign defaultProduct = product %}<!-- -->{% assign product = all_products["happy-lash"] %}<!-- -->{% assign defaultCollection = collection %}<!-- -->{% assign excluded_count = 0 %}<!-- -->
					{% assign foundCollection = null %}
					{% for c in product.collections %}
						{% if foundCollection == null and c.handle != "all" and c.all_products_count > 1 %}
							{% assign foundCollection = c %}
						{% endif %}
					{% endfor %}
				<!-- -->{% if foundCollection.products.length > 0 %}<!-- -->{% paginate foundCollection.products by 4 %}<!-- -->{% for pfp in foundCollection.products %}<!-- -->{% if pfp.id == 6629553111221 %}<!-- -->{% assign excluded_count = excluded_count | plus: 1 %}<!-- -->{% endif %}<!-- -->{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign limit = 4 | plus: excluded_count %}<!-- -->{% paginate foundCollection.products by limit %}<!-- -->{% for product in foundCollection.products %}<!-- -->{% if product.id != 6629553111221 %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jlRMkV ksCOFC pf-35_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-fmcixO cOuJRo pf-36_">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-eldixR dIsLUY pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-jtXFOG bFAUbd"><img src="{{ product.featured_image | img_url: "x196.875", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eXlDFz fmdpDr  pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-iqVVwt dWaGix   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-eWfWgB jwdikc pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-kTLnJg jVwDIe pf-37_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-fXeWgy hmFFGo pf-39_">{{ product.title }}</h3><div data-pf-type="Block" class="sc-efQUeY eWLxTJ pf-40_"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-cbTAsW kbOIjO pf-41_">{{ product.variants[0].price | money }}</div><div data-product-type="compare_at_price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-cbTAsW kbOIjO pf-42_ pf-lg-hide pf-md-hide pf-sm-hide pf-hide">{{ product.variants[0].compare_at_price | money }}</div></div><button data-product-id="{{ product.id }}" data-checkout="cart" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-lkgURy irubqu pf-43_"><span>SHOP NOW</span></button>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endif %}<!-- -->{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% endif %}<!-- -->{% assign product = defaultProduct %}<!-- -->{% assign collection = defaultCollection %}</div></div></div></div><div class="sc-bBHHQT iVWrCP pf-46_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-47_"><p class="sc-jeqYYF hzMUYW pf-48_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-50_"><b><a href="https://www.instagram.com/catchingupwithkels/">Follow Kelsey on Instagram</a></b><br></span></p></div></div></div><div class="sc-bBHHQT iVWrCP pf-51_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-52_"><p class="sc-jeqYYF hzMUYW pf-53_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-55_">
Receive 10% off your first purchase at <a href="https://www.moxielash.com/" target="_self">moxielash.com</a> when you shop through a MoxieLash Rep page, valid only on <a href="https://www.moxielash.com/" target="_self">moxielash.com</a>, excluding taxes, shipping and delivery charges. Discount will not be granted, may be revoked, and may not be redeemed for a future purchase if initial transaction is cancelled or item(s) are returned. Discount may be suspended or terminated at any time and may be subject to product restrictions or exclusions. Limit one (1) Discount per customer.</span></p></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.1.3","shopDomain":"dev-eco.myshopify.com","elementData":{"pf-36_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":1,"imageSource":"featured","id":"4c7fd925-13f0-46a8-8951-d44590230153","_type":"ProductImage"},"pf-38_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"d92513f0-26a8-4951-9445-90230153048f","_type":"ProductBadge"}},"pageTitle":"Kelsey Sinclair","pageType":"page","pageId":"d341862b-cb84-45f9-8ea2-e363c29ca80b","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap","trackingIDs":[{"elementIndex":36,"elementId":"4c7fd925-13f0-46a8-8951-d44590230153","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":43,"elementId":"a88951d4-4590-4301-9304-8fc681e5509f","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.1.3/core/helper.js" defer></script>